{% extends "layout.html.njk" %}

{% block meta %}
  <title>Reto's contact page</title>
  <meta name="description" content="Call us">
{% endblock %}

{% block id %}contact{% endblock %}

{% block main %}

<section id="phone">
  <div>
    <h1>Contact</h1>
  </div>
</section>

{% endblock %}
