<header>
  {# <a href="/"><img src="/assets/images/garo-logo.jpg" width="500" height="327"></a> #}
  <svg id="logo-tm" viewbox="0 0 70 45">
    <path class="logo-tm-path" d="M4.68,4.78H5V2.83c0-.07,0-.23,0-.24l.1.24L6,4.78h.26l.89-1.94.1-.24s0,.17,0,.24V4.78H7.6V1.93H7.25L6.15,4.29,5,1.93H4.68Zm-2,0h.38V2.25h1V1.93H1.7v.32h1Z"></path>
    <polygon points="40.28 1.26 34.4 43.78 46.16 43.78 40.28 1.26"></polygon>
    <polygon points="17.75 1.26 11.86 43.78 23.63 43.78 17.75 1.26"></polygon>
    <polygon points="62.85 1.26 56.97 43.78 68.74 43.78 62.85 1.26"></polygon>
  </svg>
  <nav>
    <ul>
      <li>
        <a href="/tiger-woods">Tiger Woods Experiment</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href="/test">Test</a>
      </li>
      <li>
        <a href="http://www.kingstonheath.melbourne/" target="_blank">Kingston Heath Golf Club</a>
      </li>
    </ul>
  </nav>
</header>