<header>
  <a href="/"><img src="/assets/images/garo-logo.jpg" width="500" height="327"></a>
  <nav>
    <ul>
      <li>
        <a href="/tiger-woods">Tiger Woods Experiment</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href="/test">Test</a>
      </li>
      <li>
        <a href="http://www.kingstonheath.melbourne/" target="_blank">Kingston Heath Golf Club</a>
      </li>
    </ul>
  </nav>
</header>