{% extends "layout.html.njk" %}

{% block meta %}
  <title>Garo VIP boutique travel</title>
  <meta name="description" content="High-end tailored travel for those looking for an elephant sized holiday">
{% endblock %}

{% block id %}homepage{% endblock %}

{% block main %}

  <section id="hero">
    <div>
      <code>High-end travel agent for those seeking new experiences</code>
      <code>Reto - reto@garo.vip</code>
    </div>
  </section>

  <section id="about">
    <div>
      <h1>About us</h1>
      <p class="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="red">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="orange">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>

  <section id="contact">
    <div>
      <h1>Contact us</h1>
      <a href="mailto:reto@garo.vip">reto@garo.vip</a>
    </div>
  </section>

  <section id="links">
    <div>
      <ul>
        {# <li>
          <a href="http://www.kingstonheath.melbourne/" target="_blank">Kingston Heath Golf Club</a>
        </li> #}
        <li>
          <a href="/tiger-woods">Tiger Woods Experiment</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/test">Test</a>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}