{% extends "layout.html.njk" %}

{% block meta %}
  <title>Garo VIP boutique travel</title>
  <meta name="description" content="High-end tailored travel for those looking for an elephant sized holiday">
{% endblock %}

{% block id %}homepage{% endblock %}

{% block main %}

  <section id="hero">
    <div>
      <code>High-end travel agent for those seeking new experiences</code>
      <code>Reto - reto@garo.vip</code>
    </div>
  </section>

{% endblock %}
