{% extends "layout.html.njk" %}

{% block meta %}
  <title>Tiger Woods</title>
  <meta name="description" content="We build tiger woods pages">
{% endblock %}

{% block id %}tiger{% endblock %}

{% block main %}

<section id="hero">
  <div>
    <h1>Tiger woods</h1>
  </div>
</section>

{% endblock %}
