body#homepage {
  section#hero {
    height: 80vh;
    width: 100vw;
    background: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    code {
      display: block;
      width: 340px;
      margin-bottom: 20px;
    }
  }

  section#about {
    h1 {
      color: green;
    }
    p {
      &.blue {
        color: blue;
      }
      &.red {
        color: red;
      }
      &.orange {
        color: orange;
      }
    }
    // p.blue {
    //   color: blue;
    // }
    // p.red {
    //   color: red;
    // }
    // p.orange {
    //   color: orange;
    // }
  }
  section#contact {
  }
  section#links {
    padding: 45px;
    border-top: 1px solid grey;
    margin-top: 50px;
    li {
      padding-top: 20px;
    }
  }
}
