{% extends "layout.html.njk" %}

{% block meta %}
  <title>Reto's testing grounds</title>
  <meta name="description" content="Where Reto plays with HTML, CSS and JS">
{% endblock %}

{% block id %}test{% endblock %}

{% block main %}

<section id="test">
  <div>
    <h1>Test</h1>
  </div>
</section>

{% endblock %}
